# Operating system files
.DS_Store
Thumbs.db

# Editor-local settings
.vscode/

# Node.js dependencies
node_modules/

# Temporary files
*.bak
*.tmp
*.temp
pipeline/logs/*.tmp

# Local data pipeline files
pipeline/input/*.csv
pipeline/intermediate/*.json
pipeline/reference/csv-headers/*.txt
pipeline/logs/*.txt
